.homepage-wrapper{
    display: grid;
    grid-template-columns: 1fr;

    .filter-link{
        display: flex;
        justify-content: space-between;

        .btn{
            width: 100%;
        }
    }
}